@import url('https://fonts.cdnfonts.com/css/bariol');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Kiwi+Maru&family=Lobster+Two&family=Righteous&family=Tiro+Bangla&family=Work+Sans:wght@100;300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --glow-color: hsl(30, 100%, 50%);
}

* {
    box-sizing: border-box;
    font-family: 'bariol';
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.contenedor-header {
    background: rgba(240, 3, 43, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header {
    max-width: 1900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo img {
    width: 80px;
    margin-right: 5px;
    margin-left: 5px;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    font-size: 25px;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #000000;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
    font-weight: bold;
}

.contenedor-header header nav ul li a:hover {
    color: #ff9999;
}

.nav-responsive {
    background-color: #252A2E;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.Inicio {
    background: url(../img/rojo2.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: #050101;
    display: flex;
}

.Inicio .contenedor-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1100px;
    margin: auto;
}

.Inicio .contenedor-banner .col {
    position: relative;
    max-width: 640px;
    height: 370px;
    margin: 15px;
    cursor: pointer;
}

.Inicio .contenedor-banner img {
    margin-top: 40px;
    width: 400px;
    height: 100%;
    margin: auto;
    z-index: 2;
}

.Inicio .contenedor-banner .col h1 {
    margin-top: 40px;
    font-size: 45px;
    font-family: 'Inika';
    font-weight: bolder;
    width: auto;
}

.Inicio .contenedor-banner .col h4 {
    font-size: 34px;
    font-weight: normal;
}

.separador{
    background: url(../img/separador.png) no-repeat center center;
    background-size: cover;
    height: 2vh;
    color: #050101;
    display: flex;
}

.servicios {
    color: #000000;
    padding: 50px 20px;
    height: 100vh;
    display: contents;
    align-items: center;
    justify-content: center;
}

.servicios .contenedor-servicios {
    max-width: 100%;
    margin: auto;
    background:  url(../img/blanco.jpg) no-repeat center center;
    background-size: cover;
}

.servicios h2 {
    font-size: 48px;
    font-family: 'Kiwi Maru';
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
    justify-content: center;
}

.servicios .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.servicios .galeria .servicio {
    position: relative;
    max-width: 370px;
    height: 420px;
    margin: 10px;
    cursor: pointer;
    background: rgb(245, 239, 219, 1);
}

.servicios .galeria .servicio h3 {
    font-size: 23px;
    font-family: 'Kiwi Maru';
    text-align: center;
    padding: 20px 0;
    margin-bottom: 30px;
}

.servicios .galeria .servicio img {
    margin: auto;
    display: block;
    width: 120px;
}

.servicios .galeria .servicio p {
    font-size: 15px;
    font-family: 'Tiro Bangla';
    text-align: center;
    padding: 20px 0;
    margin: 30px;
    margin-bottom: 30px;
}

.servicios .galeria .servicio:hover {
    box-shadow: 0px 0px 40px rgb(7, 3, 0);
}